defmodule  <%= module %>.Repo.Migrations.Create<%= base %> do
  use Ecto.Migration

  def change do
    create table(:<%= plural %>) do
      # :registration
      add :email, :string, null: false, default: ""
      add :encrypted_password, :string, null: false, default: ""

      timestamps
    end

    # :registration
    create unique_index(:<%= plural %>, [:email])
  end
end
